apiVersion: v1
kind: Secret
metadata:
  annotations:
    avp.kubernetes.io/path: {{ .Values.postgresql.secret.pathinit }}
  name: secret-postgres-init
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  postgres-password: <postgres-password>
  replication-password: <replication-password>